

<!-- start -->
<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/login-image.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/angular2-logo.png" alt="">
                    </div>
                    <h1 class="presentation-title">Products  </h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center"><!-- enter Text --></h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by
        <!-- <h6 class="category category-absolute">Designed and coded by -->

            <a href="http://krishnamalireddy.tk/" target="_blank">
                <img src="assets/img/creative-tim-white-slim2.png" style="width:82px;height:62px;border:0;" class="creative-tim-logo">
            </a> 
            
        </h6>
    </div>
   <!-- <div class="main">
      <div class="section ">
            <div class="container content-center">
<img src="assets/img/prc07_img01.jpg" usemap="#image-map">

<map name="image-map">
    <area target="_blank" alt="Cube Cabinet" title="Cube Cabinet" href="https://www.adana.co.jp/en/contents/products/na_tank/detail03.html" coords="204,848,202,1379,139,1379,145,842,146,550,837,538,843,787,841,1380,709,1380,418,1387,425,848" shape="poly">
    <area target="_blank" alt="Filter" title="Filter" href="https://adaindia.in/superjet-filters/#2" coords="205,849,416,1380" shape="rect">
    <area target="_blank" alt="Garden" title="Garden" href="https://adaindia.in/cube-garden/" coords="144,134,827,536" shape="rect">
    <area target="_blank" alt="co2 system" title="co2 system" href="https://adaindia.in/co2-systems/#4" coords="839,115,935,474" shape="rect">
    <area target="_blank" alt="Light" title="Light" href="https://adaindia.in/aquasky-series/#4" coords="144,129,831,0" shape="rect">
    <area target="_blank" alt="lily pipe" title="lily pipe" href="https://adaindia.in/lily%20pipe/" coords="60,107,142,716" shape="rect">
</map>   </div>
     
</div>

</div>
-->
 <div class="section ">
            <div class="container">
                <div class="row example-page">
                  <div class="col-md-8 ml-auto mr-auto text-center">
             <img src="assets/img/prc07_img01.jpg" style="max-width: 100%;"  usemap="#image-map">

<map name="image-map">
    <area target="_blank" alt="Cube Cabinet" title="Cube Cabinet" href="https://www.adana.co.jp/en/contents/products/na_tank/detail03.html" coords="204,848,202,1379,139,1379,145,842,146,550,837,538,843,787,841,1380,709,1380,418,1387,425,848" shape="poly">
    <area target="_blank" alt="Filter" title="Filter" href="https://adaindia.in/superjet-filters/#2" coords="205,849,416,1380" shape="rect">
    <area target="_blank" alt="Garden" title="Garden" href="https://adaindia.in/cube-garden/" coords="144,134,827,536" shape="rect">
    <area target="_blank" alt="co2 system" title="co2 system" href="https://adaindia.in/co2-systems/#4" coords="839,115,935,474" shape="rect">
    <area target="_blank" alt="Light" title="Light" href="https://adaindia.in/aquasky-series/#4" coords="144,129,831,0" shape="rect">
    <area target="_blank" alt="lily pipe" title="lily pipe" href="https://adaindia.in/lily%20pipe/" coords="60,107,142,716" shape="rect">
</map>  
                    </div>

                    
                </div>
            </div>
        </div> 
  
</div>
