 <div class="section ">
            <div class="container">
                <div class="row example-page">
                  <div class="col-md-8 ml-auto mr-auto text-center">
                        <h4 class="title"> Our Latest / Upcoming Products & Events</h4>
                        <h2 class="title">Media Center</h2><br/>
                        <p class="description">
                           Nature Aquarium Goods is a product lineup not only realizing the beautiful aquascape by promoting the healthy growth of plants, but also uniting the whole aquarium system under a single design theme.
Would you be interested in reaching the higher end of Nature Aquarium with professional products?
                        </p><br/>
                        
                        <a href="#" class="btn btn-outline-danger btn-round" target="_blank">Read More</a>
                    </div>

                    
                </div>
            </div>
        </div> 

         <div class="section" style="background-image: url('assets/img/wale.jpg'); ">
            <div class="container">
               <div class="row example-page">
                    <div class="col-lg-3 col-md-2 col-sm-2 text-center" >
                        <a href="http://krishnamalireddy.tk/" target="_blank">
                <img src="assets/img/stark.png" alt="Rounded Image" class="img-rounded img-responsive">
                <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-neutral btn-round">Inner Circle</a>
            </a> 
                    </div>

                    <div class="col-lg-3 col-md-2 col-sm-2 text-center" >
                        <a href="http://krishnamalireddy.tk/" target="_blank">
                <img src="assets/img/thor.png" alt="Rounded Image" class="img-rounded img-responsive" >
                <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-neutral btn-round">Inner Circle</a>
            </a> 
                    </div>
                   <div class="col-lg-3 col-md-2 col-sm-2 text-center" >
                        <a href="http://krishnamalireddy.tk/" target="_blank">
                <img src="assets/img/stark.png" alt="Rounded Image" class="img-rounded img-responsive" >
                <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-neutral btn-round">Cars</a>
            </a> 
                    </div>
                         <div class="col-lg-3 col-md-2 col-sm-2 text-center" >
                        <a href="http://krishnamalireddy.tk/" target="_blank">
                <img src="assets/img/hulk.png" alt="Rounded Image" class="img-rounded img-responsive">
                <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-neutral btn-round">Inner Circle</a>
            </a> 
                    </div>
                    
                </div>
                    </div>

       